
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <td class="text-center">Imagem</td>
                                  <td class="text-left">Produto</td>

                                  <td class="text-right">Preço Un.</td>
                                  <td class="text-right">Total</td>
                                </tr>
                              </thead>
                             <!--tbody-->
                      <tbody>
                      <tr>
                      <td class="text-center">                  <a href="http://califloinc.com/index.php?route=product/product&amp;product_id=72"><img src="http://califloinc.com/image/cache/catalog/New%20Tshirts/CaliBlimp%20Cream-47x47.jpg" alt="Blimp - Hemp Fiber" title="Blimp - Hemp Fiber" class="img-thumbnail"></a>
                      </td>
                      <td class="text-left"><a href="http://califloinc.com/index.php?route=product/product&amp;product_id=72">Blimp - Hemp Fiber</a>
                      <br>
                      <small>um pequeno texto de teste para testar</small>

                      </td>

                      <td class="text-right">$34.99</td>
                      <td class="text-right">$34.99</td>
                      </tr>
                      </tbody>
                             <!--tbody-->
                       </table>
                      </div>
                        <div class="col-md-4 offset-md-8">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td class="text-right"><strong>Sub-Total:</strong></td>
                                <td class="text-right">$24.99</td>
                              </tr>
                              <tr>
                                <td class="text-right"><strong>Descontos:</strong></td>
                                <td class="text-right">$1.59</td>
                              </tr>
                              <tr>
                                <td class="text-right"><strong>Total:</strong></td>
                                <td class="text-right">$26.58</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      <div class="row  justify-content-between">
                          <div class="col-12 text-right">
                            <a href="http://califloinc.com/index.php?route=checkout/checkout" class="btn btn-dark">Concluir Compra</a>
                          </div>
                      </div>
